* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body {
  background-image: url(../img/fondogoku.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h2 {
  text-align: center;
  font-size: 4rem; }

@media screen and (max-width: 450px) {
  h2 {
    font-size: 2rem; } }

header h1 {
  display: none; }

header a {
  font-family: 'Luckiest Guy', cursive; }

header .barra {
  background-color: orange !important; }
  header .barra ul {
    background-color: orange !important; }
    header .barra ul li ul {
      background-color: #ffc965 !important; }

@media screen and (min-width: 992px) {
  header .barra {
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.279);
    z-index: 1;
    height: 75px; }
    header .barra a {
      font-size: 1.2rem; }
      header .barra a:hover {
        color: white; }
    header .barra .hvr-float-shadow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform; }
    header .barra .hvr-float-shadow:before {
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      /* W3C */
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform, opacity;
      transition-property: transform, opacity; }
    header .barra .hvr-float-shadow:hover, header .barra .hvr-float-shadow:focus, header .barra .hvr-float-shadow:active {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      /* move the element up by 5px */ }
    header .barra .hvr-float-shadow:hover:before, header .barra .hvr-float-shadow:focus:before, header .barra .hvr-float-shadow:active:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }
    header .barra .drop {
      display: none;
      background: orange; }
      header .barra .drop a:hover {
        background-color: white !important;
        color: black; }
    header .barra .f {
      z-index: 1; }
      header .barra .f:hover .drop {
        display: flex;
        flex-direction: column; } }

/*INDEX*/
main img {
  width: 100%; }

main .fondo {
  position: relative; }
  main .fondo .sol {
    position: relative;
    z-index: -2; }
  main .fondo .dragonball {
    position: absolute;
    top: -2vh;
    left: -3%;
    z-index: -1; }
    @media screen and (max-width: 576px) {
      main .fondo .dragonball {
        top: -2vh;
        left: -3%; } }

.contenedor {
  overflow: hidden; }
  .contenedor .goku img {
    width: 60%; }

@media screen and (min-width: 992px) {
  .contenedor .goku img {
    width: 80%; }
  .contenedor .parrafo {
    margin-top: 200px; } }

/*INDEX*/
/*DRAGON BALL*/
.DB .section1mobile {
  background-image: url(../img/fondowaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.DB section {
  overflow: hidden; }

.DB .section1 {
  background-image: url(../img/fondowaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 250px;
  display: none; }
  .DB .section1 h2 {
    padding-top: 30px; }

.DB .galeria {
  background-color: F7770F;
  width: 100%; }
  .DB .galeria img {
    width: 100%; }

.DB h2 {
  font-weight: bold;
  text-align: center; }

@media screen and (max-width: 576px) {
  .DB .galeria .imagenes {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .DB .section1mobile {
    display: none; }
  .DB .section1 {
    display: block; }
  .DB .personajes {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 430px;
    align-content: center; }
    .DB .personajes img {
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      opacity: .8;
      transition: .8s ease; }
      .DB .personajes img:hover {
        width: 400px;
        opacity: 1;
        filter: contrast(120%); }
      .DB .personajes img:hover p {
        opacity: 1; }
  .DB .galeria a img {
    transition: all .5s; }
    .DB .galeria a img:hover {
      transform: scale(1.1);
      filter: drop-shadow(8px 8px 10px black) contrast(120%); }
  .DB .fondo2 {
    background-image: url(../img/db2.jpg);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-size: cover; }
    .DB .fondo2 .fotomobile {
      display: none; }
    .DB .fondo2:hover .info {
      opacity: 1; }
    .DB .fondo2 .info {
      width: 100%;
      height: 100%;
      background-color: rgba(31, 31, 31, 0.9);
      opacity: 0;
      color: white;
      position: absolute;
      transition: all 0.8s ease; }
      .DB .fondo2 .info p {
        top: 30%;
        position: absolute;
        font-size: 1.2rem;
        margin-left: 20px;
        margin-right: 20px; }
  .DB .fondo3 {
    background-image: url(../img/dbz.jpg);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-size: cover; }
    .DB .fondo3 .fotomobile {
      display: none; }
    .DB .fondo3:hover .info {
      opacity: 1; }
    .DB .fondo3 .info {
      width: 100%;
      height: 100%;
      background-color: rgba(31, 31, 31, 0.9);
      opacity: 0;
      color: white;
      position: absolute;
      transition: all 0.8s ease; }
      .DB .fondo3 .info p {
        top: 30%;
        position: absolute;
        font-size: 1.2rem;
        margin-left: 20px;
        margin-right: 20px; }
  .DB .fondo4 {
    background-image: url(../img/dbs.jpg);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-size: cover; }
    .DB .fondo4 .fotomobile {
      display: none; }
    .DB .fondo4:hover .info {
      opacity: 1; }
    .DB .fondo4 .info {
      width: 100%;
      height: 100%;
      background-color: rgba(31, 31, 31, 0.9);
      opacity: 0;
      color: white;
      position: absolute;
      transition: all 0.8s ease; }
      .DB .fondo4 .info p {
        top: 30%;
        position: absolute;
        font-size: 1.2rem;
        margin-left: 20px;
        margin-right: 20px; } }

@media screen and (max-width: 992px) {
  .DB .info {
    margin: 20px; } }

/*NOTICIAS*/
.TN {
  margin-top: 30px; }

@media screen and (max-width: 992px) {
  .textonoticias {
    display: none; } }

@media screen and (max-width: 767px) {
  .asd {
    display: block; } }

.carouselnoticias h3 {
  font-size: 2vw; }

/*COMUNIDAD*/
@media screen and (max-width: 991px) {
  .formulario .pregunta {
    margin-top: 20px; } }

.formulario h3 {
  font-size: 1rem; }

.formulario .SiNo {
  display: flex;
  justify-content: space-around; }

.formulario .enviar {
  height: 50px;
  width: 100px;
  align-self: center;
  background-color: #111;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 0; }
  .formulario .enviar:before {
    content: '';
    background: linear-gradient(45deg, #ff7300, #fffb00, #ff7300, #fffb00, #ff7300, #fffb00);
    filter: blur(5px);
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    top: -2px;
    left: -2px;
    transition: opacity .3s ease-in-out;
    background-size: 600%;
    border-radius: 10px;
    animation: boton 20s linear infinite;
    z-index: -1; }
  .formulario .enviar:hover:before {
    opacity: 1;
    background-color: #111; }
  .formulario .enviar:active {
    color: black; }
    .formulario .enviar:active:after {
      background: transparent; }
  .formulario .enviar:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px; }
  @media screen and (max-width: 991px) {
    .formulario .enviar {
      margin-top: 20px; } }

@keyframes boton {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.modalenviar {
  background-color: rgba(255, 166, 0, 0.333);
  text-align: center; }
  .modalenviar .modalcontenido {
    background: #ffa84c;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffa84c 0%, #ff7b0d 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffa84c 0%, #ff7b0d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffa84c 0%, #ff7b0d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .modalenviar .modalcontenido h3 {
      font-family: 'Luckiest Guy', cursive; }

.publicaciones .textodibujos {
  font-size: 1rem; }

.publicaciones input {
  display: none; }

.publicaciones label {
  cursor: pointer;
  border: 2px solid #0aee0a;
  padding: 2px 9px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 1s;
  border-radius: 50px;
  color: #0aee0a; }

.publicaciones input:checked + label {
  border: none;
  background: #0aee0a;
  color: white; }

.publicaciones .dibujos {
  background: linear-gradient(45deg, #ff73008e, #fffb0091, #ff7300a2, #fffb008b);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.paginas a {
  color: black; }
  .paginas a:hover {
    color: grey; }

/*SAGA*/
.enfrentamiento {
  overflow: hidden; }
  .enfrentamiento .car .portada {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    background-color: #ff730086; }
    .enfrentamiento .car .portada .vermas {
      height: 35px;
      width: 100px;
      background-color: #111;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      z-index: 0; }
      .enfrentamiento .car .portada .vermas:before {
        content: '';
        background: linear-gradient(45deg, #ff7300, #fffb00, #ff7300, #fffb00, #ff7300, #fffb00);
        filter: blur(5px);
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        opacity: 0;
        top: -2px;
        left: -2px;
        transition: opacity .3s ease-in-out;
        background-size: 600%;
        border-radius: 10px;
        animation: boton 20s linear infinite;
        z-index: -1; }
      .enfrentamiento .car .portada .vermas:hover:before {
        opacity: 1;
        background-color: #111; }
      .enfrentamiento .car .portada .vermas:active {
        color: black; }
        .enfrentamiento .car .portada .vermas:active:after {
          background: transparent; }
      .enfrentamiento .car .portada .vermas:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px; }
  .enfrentamiento .saga {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "gokup tsaga vegetap";
    align-items: center;
    width: 100%;
    background-image: url(../img/fondosaga.jpg);
    background-size: cover; }
  .enfrentamiento .gokup {
    grid-area: gokup; }
  .enfrentamiento .tsaga {
    grid-area: tsaga;
    transform: translate(0%, 0%);
    overflow: hidden;
    background-color: black;
    width: 100%; }
    .enfrentamiento .tsaga h2 {
      font-size: 8vw;
      color: #fff;
      font-weight: bold; }
      .enfrentamiento .tsaga h2::before {
        content: 'SAGAS';
        position: absolute;
        mix-blend-mode: difference;
        filter: blur(0.1vw); }
    .enfrentamiento .tsaga .aa {
      position: absolute;
      top: -100%;
      left: -100%;
      right: 0;
      bottom: 0;
      mix-blend-mode: color-dodge;
      background: radial-gradient(circle, white, orange 60%) center/25% 25%;
      animation: neon 3s linear infinite; }

@keyframes neon {
  to {
    transform: translate(50%, 50%); } }
  .enfrentamiento .vegetap {
    grid-area: vegetap; }

footer {
  background-color: #101047; }
  footer .pie-pagina {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "grupo1" "grupo2" "grupo3" "grupo4";
    grid-gap: 0px;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-items: center; }
  footer .grupo1 {
    grid-area: grupo1; }
  footer .grupo2 {
    grid-area: grupo2; }
  footer .grupo3 {
    grid-area: grupo3; }
  footer .grupo4 {
    grid-area: grupo4; }
  footer h3 {
    font-size: 1.3rem;
    color: white; }
  footer .henki {
    width: 25px; }

@media screen and (min-width: 768px) {
  footer .pie-pagina {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "grupo1 grupo2" "grupo3 grupo4";
    grid-gap: 0px;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-items: center; }
  footer .grupo1 {
    grid-area: grupo1; }
  footer .grupo2 {
    grid-area: grupo2;
    margin-top: 50px; }
  footer .grupo3 {
    grid-area: grupo3; }
  footer .grupo4 {
    grid-area: grupo4; } }

@media screen and (min-width: 992px) {
  footer .pie-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "grupo1 grupo2 grupo3 grupo4";
    grid-gap: 50px;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-items: center; }
  footer .grupo1 {
    grid-area: grupo1;
    margin-left: 100px; }
  footer .grupo2 {
    grid-area: grupo2;
    margin: 20px; }
  footer .grupo3 {
    grid-area: grupo3; }
  footer .grupo4 {
    grid-area: grupo4; } }

@media screen and (max-width: 576px) {
  footer .henki {
    display: none; }
  .grupo1 {
    grid-area: grupo1; }
    .grupo1 h3 {
      font-size: 4vw; } }
